.exp-card {
  flex: 0 0 auto;
  width: 260px;
  border-radius: 12px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 10px 0;
  /* border: 1px solid red; */

}

.exp-card-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.exp-card-body {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.exp-card-title {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.exp-card-location {
  display: flex;
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}

.exp-card-price {
  display: flex;
  align-items: center; 
  font-size: 15px;
  font-weight: 600;
}

.exp-card-price span {
  font-size: 13px;
  color: #666;
  font-weight: 400;
  margin-left: 4px;
}
